@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
:root {
	font-family: "inter", sans-serif;
	box-sizing: border-box;
	--lightgrey: rgb(237, 237, 237);
	--red: rgb(228, 119, 119);
	--green: rgb(114, 218, 114);
	--headerheight: 10vh;
	--bounciness: 1.5; /* default is 1.5 */
	--curve: cubic-bezier(.3,.7,.4,1.5);
}
body {
	margin:0;
}
#logo {
	font-weight: bold;
}
header {
	text-transform: uppercase;
	height: var(--headerheight);
	display: flex;
	justify-content: space-between;
	margin: 0 3vw 0 3vw;
	align-items: center;
	letter-spacing: 3px;
	border-bottom: 1px solid var(--lightgrey);
}
#other-links {
	display: flex;
	justify-content: space-around;
	width: 40%;
}
#other-links li {
	list-style-type: none;
	padding: 10px;
	border-radius: 5px;
	transition: background-color 0.4s;
}
#other-links li:hover {
	background-color: var(--lightgrey);
}
#other-links a {
	text-decoration: none;
	color: black;
}
#content {
	width: 100vw;
	height: calc(100vh - var(--headerheight) - 1px);
	display: flex;
	justify-content: center;
	align-items: center;
}
h1 {
	margin-bottom: 0px;
}
#title-container h1{
	letter-spacing: 2px;
}
#question-container {
	width: 50%;
}
#answers {
	display: flex;
	justify-content: space-around;
	padding-inline-start: 0;
	gap: 5px;
}
#answers li {
	list-style-type: none;
	width: 40%;
	border-radius: 5px;
	padding: 20px;
	background-color: var(--lightgrey);
	text-align: center;
	transition: background-color 0.4s, color 0.2s, transform 0.2s;
}
#answers li:hover {
	cursor:pointer;
	color: white;
	transform: scale(1.1,1.1);
	transition: transform 0.2s var(--curve);
}
#answers li:active {
	transform: scale(1.05,1.05) !important;
}
#answers li[answer="yes"]:hover {
	background-color: var(--green)
}
#answers li[answer="no"]:hover {
	background-color: var(--red)
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	transition: opacity 1s;
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
	color:white;
	flex-direction: column;
}
.overlay.no {
	background-color: var(--red);
}
.overlay.yes {
	background-color: var(--green);
}
.overlay:not(.hidden) {
	opacity: 1;
}
.hidden {
	opacity: 0;
	pointer-events: none;
}
#reset {
	border-radius: 5px;
	border: none;
	background-color: white;
	padding: 10px 40px 10px 40px;
	transition: background-color 0.4s, color 0.2s, transform 0.2s;
}
#reset:hover {
	cursor: pointer;
	transform: scale(1.1,1.1);
	transition: transform 0.2s var(--curve);
}
#reset:active {
	transform: scale(1.05,1.05) !important;
}
